
.herobanner{
    background-image: url('./assets/home/lionBanner.jpg');
}

/* Add this to your main CSS file */
.outline-text {
    -webkit-text-stroke: 1px white; /* Add the stroke */
    /* Transparent text fill */
  }
  
  /* .outline2-text {
    -webkit-text-stroke: 2px white; /* Add the stroke */
    /* Transparent text fill */
  /* } */ 